
<header class="my-2 py-2">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">infinite gallery</h1>
      <p></p>
      <div class="lead text-muted">
        a sample for infinite content
        
      </div>
      <p>
        <a href="https://github.com/hsafavi/infinite_gallery" class="btn btn-primary">gitub project</a>
      
      </p>
      <div class="small text-muted">images provided by <a href="https://picsum.photos/">picsum</a> </div>
    </div>
  </section>
</header>
<div class="container">
  <div  class="grid" id="holder">
  
  </div>
</div>




<router-outlet></router-outlet>
